#form-edit-empresa
{
  display: flex;
  flex-flow: row wrap;
  width: 80%
}

#form-edit-empresa h4,
#form-edit-empresa button
{
  flex: 2 0 100%;
}

#form-edit-empresa label,
#form-edit-empresa input,
#form-edit-empresa select
{
  flex: 1 1 49%;
}


.edit_empresa_item {
  margin-top: 5em;
}

.delete_empresa {
  background-color: #faa5;
  padding: 2em 2em 1em;
  margin-bottom: 3em;
  border-radius: 4px;
}
h4 {
  background-color: transparent;
  margin-top: 0;
  border-bottom: 1px solid #3333;
}