<nav  id="empresa_navigation_bar" class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >{{ title }}</a>

  <button class="navbar-toggler" type="button"
  (click)="this.toggleMenuBar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="this.showMenu">
    <ul class="navbar-nav mr-auto">
      <li><a href="#" [routerLink]="[{outlets: {secondary: ['add-sesion']}}]">Nueva sesion</a></li>
      <li><a href="#" [routerLink]="[{outlets: {secondary: ['add-usuario']}}]">Añadir usuario</a></li>
      <li><a href="#" [routerLink]="[{outlets: {secondary: ['usuarios']}}]">Gestion usuarios</a></li>
      <li><a href="#" [routerLink]="[{outlets: {secondary: ['add-bono']}}]">Nuevo Bono</a></li>
      <li><a href="#" [routerLink]="[{outlets: {secondary: ['edit']}}]">Editar Empresa</a></li>
      <li class="nav-item" *ngIf="this.authService.getUser()!=undefined">
        <a class="nav-link" href="#" (click)="this.logOut($event)">Logout</a>
      </li>
    </ul>
  </div>

</nav>

<div id="gestion_empresa" class="loginerror" *ngIf="this.empresa == undefined; else empresa_loaded">
  <h4>Error al cargar los datos de la empresa: <span>{{this.error}}</span></h4>
  <a id="reload_button" class="btn btn-warning" href="/#login">LogIn again</a>
  <script>
    this.authService.logout();
  </script>
</div>


<ng-template #empresa_loaded>
  <div id="gestion_empresa" class="loginok">
    <h3 id="empresa_header">
      <a href="#" [routerLink]="[{outlets: {secondary: ['']}}]">
      Panel de Empresa <span class="nombre_empresa">{{this.empresa.nombre}}</span>
      </a></h3>

    <div id="main_content_empresa">
      <router-outlet name="secondary"></router-outlet>
    </div>

    <div id="lista_usuarios">
      <app-lista-usuarios></app-lista-usuarios>
    </div>

  </div>
</ng-template>
