/*
#form-sesion label,
#form-sesion input,
#form-sesion select
{
  flex: 1 1 49%;
}


#form-sesion .user_name
{
  flex: 1 1 32%;
}

#form-sesion .operario
{
  flex: 1 1 20%;
}
*/

#form-sesion form {
  display: grid;
  column-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

#form-sesion h4 { grid-row: 1; grid-column: 1 / 5; }
#form-sesion label.user_name { grid-row: 2; grid-column: 1; }
#form-sesion span.user_name { grid-row: 2; grid-column: 2 ; }
#form-sesion button.user_name { grid-row: 2; grid-column: 3 / 5; }
#form-sesion button.save_button {  grid-column:  3 / 5; }


@media (max-width: 550px) {
  #form-sesion form { grid-template-columns: repeat(2, 1fr); }
  #form-sesion h4 { grid-row: 1; grid-column: 1 / 3; }
  #form-sesion label.user_name { grid-row: 2; grid-column: 1; }
  #form-sesion span.user_name { grid-row: 2; grid-column: 2 ; }
  #form-sesion button.user_name { grid-row: 3; grid-column: 1 / 3; }
  #form-sesion button.save_button {  grid-column: 1 / 3; }
}

