<div id="form-sesion">
    <form [formGroup]="this.sessionForm" >
      <h4>Crear nueva sesion</h4>

      <label class="user_name">Usuario</label>
      <span class="user_name">{{ this.usuario?.nombre||"No seleccionado"}}</span>
      <input type="hidden" [ngModel]="this.usuario?.nombre|| undefined" class="form-control" [formControlName]="'usuario'"/>
      <button class="user_name" [disabled]="this.usuario"  class="btn btn-success user_name" (click)="selectUser()">Selecciona Usuario</button>
  
  
  
      <label class="solario" for="solario">Solario</label>
      <select class="solario" id="solario" name="solario" class="form-control" [formControlName]="'solario'">
        <option disabled selected>Selecciona</option>
        <option [disabled]="this.empresa?.solarios?.length<0" *ngFor="let solario of this.empresa?.solarios" [ngValue]="solario">
          <span>{{ solario.nombre }}</span>
        </option>
      </select>
  
      <label class="duracion">Duracion (min)</label>
      <input class="duracion" type="number" name="duracion" class="form-control" [formControlName]="'duracion'"/>
  
      <label class="operario" for="operario">Operario</label>
      <select class="operario" id="operario" name="operario" class="form-control" [formControlName]="'operario'">
        <option disabled selected>Selecciona</option>
        <option [disabled]="this.empresa?.operarios?.length<0" *ngFor="let operario of this.empresa?.operarios" [value]="operario._id">
          <span>{{ operario.nombre }}</span>
        </option>
      </select>
      <label class="operario" for="pinoperario">PIN</label>
      <input class="operario" autocomplete=”off” type="password" name="pinoperario" placeholder="PIN" class="form-control" [formControlName]="'pin'" />
  
      <button
        class="save_button btn btn-primary"
        [disabled]="this.sessionForm.invalid"
        (click)="saveNewSession()">Registrar sesion</button>
    </form>
  </div>