<div id="empresa_home">
    <ul class="navbar-nav mr-auto">
        <li><a href="#" class="btn btn-info" [routerLink]="[{outlets: {secondary: ['add-sesion']}}]">Nueva sesion</a></li>
        <li><a href="#" class="btn btn-info" [routerLink]="[{outlets: {secondary: ['add-usuario']}}]">Añadir usuario</a></li>
        <li><a href="#" class="btn btn-info" [routerLink]="[{outlets: {secondary: ['usuarios']}}]">Gestion usuarios</a></li>
        <li><a href="#" class="btn btn-info" [routerLink]="[{outlets: {secondary: ['add-bono']}}]">Nuevo Bono</a></li>
        <li><a href="#" class="btn btn-info" [routerLink]="[{outlets: {secondary: ['edit']}}]">Editar Empresa</a></li>
    </ul>
</div>