<div id="lista-bonos-usuario"  *ngIf="this.user?.bono && this.user.bono; else lista_bonos_vacia">
<!--  <ul *ngIf="this.usuario.bonos; else lista_bonos_vacia">
    <li *ngFor="let bono of this.usuario.bonos">
hola
    </li>
  </ul>
-->
  <h3 class="componen_header">Lista de bonos activos</h3>
  <label>Restantes</label>
  <span>{{this.user.bono.restante}}</span>

  <label>Tipo inicial</label>
  <span>{{this.user.bono.tipo}}</span>

  <label>Valor inicial</label>
  <span>{{this.user.bono.valor}}</span>

  <label>Fecha Registro</label>
  <span>{{this.user.bono.fechaRegistro | date: 'short'}}</span>

  <label>Fecha Limite</label>
  <span>{{this.user.bono.fechaLimite | date: 'short'}}</span>
</div>

<ng-template #lista_bonos_vacia>
  <h4>Sin bonos activos</h4>
</ng-template>
